.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper {
  padding: 32px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.button {
  margin-top: 24px !important;
} 