<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>彼励扶电子商务 - 关于我们</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo-i.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='utils.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mobile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <nav class="main-nav">
        <a href="index.html" class="logo-link">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/blf_logo_1.webp') }}" alt="公司logo">
                <div class="company-info">
                    <a class="company-name" href="index.html">彼励扶跨境</a>
                    <span class="company-slogan">It's always Day 1</span>
                </div>
            </div>
        </a>
            <div class="hamburger-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

        <ul class="nav-links">
            <li><a href="index.html" class="nav-link">主页</a></li>
            <li class="dropdown">
                <a href="services.html" class="nav-link">服务体系</a>
                <ul class="dropdown-menu">
                    <li><a href="services.html#service-detail" class="dropdown-item">跨境全生态</a></li>
                    <li><a href="services.html#ai-empowerment" class="dropdown-item">AI 赋能运营</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="about.html" class="nav-link active">关于我们</a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-item">公司概况</a></li>
                    <li><a href="#" class="dropdown-item">企业文化</a></li>
                    <li><a href="#" class="dropdown-item">合作伙伴</a></li>
                    <li><a href="#" class="dropdown-item">展望未来</a></li>
                    <!-- <li><a href="#" class="dropdown-item">荣誉资质</a></li> -->
                </ul>
            </li>
            <li class="dropdown">
                <a href="contact.html" class="nav-link">联系我们</a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-item">官方社媒</a></li>
                    <li><a href="#" class="dropdown-item">人才招聘</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="news.html" class="nav-link">新闻中心</a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-item">跨境资讯</a></li>
                    <li><a href="#" class="dropdown-item">公司咨询</a></li>
                    <li><a href="#" class="dropdown-item">活动预告</a></li>
                </ul>
            </li>
        </ul>
        <div class="login-btn">
            <a href="tools.html" class="btn">后台</a>
        </div>
    </nav>
    <script src="/statics/script.js" defer></script>
</head>
<body>
    <main>
        <section id="about-us" class="about-us-section">
            <div class="hero-content"></div>
                <div class="hero-text">
                    <h2><i class="fas fa-building"></i>关于我们</h2>
                    <p>We Believe It's Always Day 1</p>
                </div>
                
            </div>  
        </section>

        <section id="company-overview" class="company-overview-section">
            <div class="hero-content">
                <div class="hero-text">
                    <h2><i class="fas fa-building"></i> 公司概况</h2>
                    <p>彼励扶电子商务（苏州）有限公司成立于2024年初，总部位于苏州，是一家专注于跨境电商代运营的企业. <br>
                        致力于为国内工厂提供产品出海和品牌出海的全生态解决方案。公司拥有丰富的跨境电商平台运营经验，提供市场调研、产品优化、物流仓储、营销推广等全方位服务。 <br>
                        公司业务主要面向北美、欧洲和东南亚市场等，拥有一群年轻的行业意见领袖，立志成为全球领先的跨境电商服务团队。</p>
                </div>
                <div class="hero-image">
                    <img src="{{ url_for('static', filename='images/work-3.webp') }}" alt="彼励扶电子商务公司概况">
                </div>
            </div>
        </section>

        <section id="company-culture" class="about-section culture hero">
            <div class="hero-content">
                <div class="hero-text">
                    <h2><i class="fas fa-users"></i> 企业文化</h2>
                    <div class="culture-grid">
                <div class="culture-item">
                    <h3>Believe（信念）</h3>
                    <p>Believe always day 1 <br>（始终保持初创心态）</p>
                </div>
                <div class="culture-item">
                    <h3>Because（因为）</h3>
                    <p>Because we can <br>（相信我们能）</p>
                </div>
                <div class="culture-item">
                    <h3>Begin（开始）</h3>
                    <p>Day 1 Be Future <br>（当下开始，即是未来）</p>
                </div>
                <div class="culture-item">
                    <h3>Behavior（行为）</h3>
                    <p>Behavior drives results. <br>（行为推动结果）</p>
                </div>
                <div class="culture-item">
                    <h3>Become（成为）</h3>
                    <p>Dreams become reality <br>（梦想成真）</p>
                </div>
            </div>
        </section>

        <section id="partners" class="about-section partners">
            <h2><i class="fas fa-handshake"></i> 合作伙伴</h2>
            <div class="partners-list">
                <div class="partner-category">
                    <h3>平台</h3>
                    <ul>
                        <li><i class="fab fa-amazon"></i> Amazon</li>
                        <li><i class="fab fa-walmart"></i> Walmart</li>
                        <li><i class="fas fa-shopping-bag"></i> Temu</li>
                        <li><i class="fab fa-tiktok"></i> TikTok</li>
                        <li><i class="fab fa-ebay"></i> eBay</li>
                        <li><i class="fas fa-shopping-bag"></i> SHEIN</li>
                        
                    </ul>
                </div>
                <div class="partner-category">
                    <h3>物流</h3>
                    <ul>
                        <li><i class="fas fa-shipping-fast"></i>上海骊泰</li>
                        <li><i class="fas fa-plane"></i>诺信达物流</li>
                        <li><i class="fas fa-box"></i> 文鼎物流</li>
                        <li><i class="fas fa-dolly"></i> 浙江德韶</li>
                        <li><i class="fas fa-landmark"></i>杭州堡森</li>
                        <li><i class="fas fa-ship"></i>衡宇物流</li>
                    </ul>
                </div>
                <div class="partner-category">
                    <h3>收款</h3>
                    <ul>
                        <li><i class="fas fa-money-bill-wave"></i> 万里汇</li>
                        <li><i class="fas fa-credit-card"></i> 富友支付</li>
                        <li><i class="fas fa-exchange-alt"></i> 连连国际</li>
                        <li><i class="fas fa-hand-holding-usd"></i> 派安盈</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="future-outlook" class="about-section hero">
            <div class="hero-content">
                <div class="hero-image">
                    <img src="{{ url_for('static', filename='images/global-1.webp') }}" alt="彼励扶电子商务展望未来">
                </div>

                <div class="hero-text">
                    <h2><i class="fas fa-rocket"></i> 展望未来</h2>
                    <p>彼励扶电子商务（苏州）有限公司将致力于成为全球跨境电商领域的意见领袖，积极运用AI和数据分析等先进技术提升运营效率和客户体验。<br>
                    同时，公司将不断拓展新兴市场和新兴平台，建立广泛的全球业务网络，并持续投入人才培养和引进，打造具有国际视野的创新型团队，在追求商业成功的同时践行可持续发展，实现经济效应与社会责任的双赢。<br>
                    </p>
                    <p><strong>我们相信，通过不断创新与努力，彼励扶将实现全球范围内的商业成功，成为跨境行业标杆品牌。</strong></p>
                    <a href="#" class="btn">立即开始</a>
                </div>
                
            </div>
        </section>
    </main>

    <footer id="footer">
        <div class="footer-content">
            <div class="footer-column">
                <h3>服务体系</h3>
                <ul>
                    <li><a href="services.html#market-insight">市场洞察</a></li>
                    <li><a href="services.html#project-solutions">项目方案</a></li>
                    <li><a href="services.html#product-export">产品出海</a></li>
                    <li><a href="services.html#brand-export">品牌出海</a></li>
                    <li><a href="services.html#ai-empowerment">AI 赋能运营</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>项目方案</h3>
                <ul>
                    <li><a href="services.html#tool-products">工具产品</a></li>
                    <li><a href="services.html#mattress-products">床垫产品</a></li>
                    <li><a href="services.html#pet-supplies">宠物用品</a></li>
                    <li><a href="services.html#outdoor-products">户外产品</a></li>
                    <li><a href="services.html#children-toys">儿童玩具</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>关于我们</h3>
                <ul>
                    <li><a href="about.html#company-overview">公司概况</a></li>
                    <li><a href="about.html#company-culture">企业文化</a></li>
                    <li><a href="about.html#partners">合作伙伴</a></li>
                    <li><a href="about.html#future-outlook">展望未来</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3><a href="contact.html">联系方式</a></h3>
                <ul>
                    <li>彼励扶电子商务（苏州）有限公司</li>
                    <li>地址：中国(江苏)自由贸易试验区苏州片区建发微时光商业广场 356 室</li>
                    <li>联系电话：+86 18666468991</li>
                    <li>联系电话：+1 (909) 375-0156</li>
                    <li>邮箱：marketing@believeboy.com</li>
                </ul>
            </div>
            <div class="footer-column qr-code">
                <img src="{{ url_for('static', filename='images/qrcode.webp') }}" alt="二维码">
                <p>扫码联系我们</p>
            </div>
        </div>
    </footer>

    <script src="/script.js"></script>
</body>
</html>