<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>彼励扶电子商务 - 服务体系</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='utils.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mobile.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <nav class="main-nav">
        <a href="index.html" class="logo-link">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/blf_logo_1.webp') }}" alt="公司logo">
                <div class="company-info">
                    <a class="company-name" href="index.html">彼励扶跨境</a>
                    <span class="company-slogan">It's always Day 1</span>
                </div>
            </div>
        </a>
        <div class="hamburger-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-links">
            <li><a href="index.html" class="nav-link">主页</a></li>
            <li class="dropdown">
                <a href="services.html" class="nav-link active">服务体系</a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-item">市场调研</a></li>
                    <li><a href="#" class="dropdown-item">产品出海</a></li>
                    <li><a href="#" class="dropdown-item">品牌出海</a></li>
                    <li><a href="services.html#ai-empowerment" class="dropdown-item">AI 赋能运营</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="about.html" class="nav-link">关于我们</a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-item">公司概况</a></li>
                    <li><a href="#" class="dropdown-item">企业文化</a></li>
                    <li><a href="#" class="dropdown-item">合作伙伴</a></li>
                    <li><a href="#" class="dropdown-item">展望未来</a></li>
                    <!-- <li><a href="#" class="dropdown-item">荣誉资质</a></li> -->
                </ul>
            </li>
            <li class="dropdown">
                <a href="contact.html" class="nav-link">联系我们</a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-item">官方社媒</a></li>
                    <li><a href="#" class="dropdown-item">人才招聘</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="news.html" class="nav-link">新闻中心</a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-item">跨境资讯</a></li>
                    <li><a href="#" class="dropdown-item">公司咨询</a></li>
                    <li><a href="#" class="dropdown-item">活动预告</a></li>
                </ul>
            </li>
        </ul>
        <div class="login-btn">
            <a href="#" class="btn">登录</a>
        </div>
    </nav>
    
</head>
<body>

    <main>
        <section id="service-ability" class="ability-section hero">
            <div class="hero-content">
                <div class="hero-text">
                    <h1><i class="fas fa-globe"></i> 全球全平台运营方案</h1>
                    <p>彼励扶跨境为您提供全方位的跨境电商解决方案。<br> 我们的核心竞争力包括：</p>
                    <ul class="service-list">
                        <li><i class="fas fa-search"></i> 深度市场洞察</li>
                        <li><i class="fas fa-bullseye"></i> 精准品牌定位</li>
                        <li><i class="fas fa-cogs"></i> 高效运营管理</li>
                        <li><i class="fas fa-robot"></i> AI 驱动的决策支持</li>
                        <li><i class="fas fa-globe-americas"></i> 全球化供应链整合</li>
                    </ul>
                    
                </div>
                <div class="hero-image">
                    <img src="{{ url_for('static', filename='images/service-hero.webp') }}" alt="彼励扶跨境服务能力">
                </div>
            </div>
        </section>

        <section id="service-detail" class="samples">
            <div class="container">
                <h2>跨境全生态服务</h2>
                <div class="samples-grid">
                    <div class="sample-card">
                            <div class="sample-content-icon">
                                <i class="fas fa-search"></i>
                            </div>
                            <h3>市场洞察</h3>
                            <p>根据权威机构发布的调研报告，介绍产品全球销售情况，帮助客户了解市场大盘。深入研究目标市场的消费人群、消费习惯、竞争格局等，为产品定位和营销策略提供数据支持。基于平台分析竞争对手的产品、价格、销量、评价等，找出自身优势和改进方向。</p>
                        
                        </div>
                    <div class="sample-card">
                        <div class="sample-content-icon">
                            <i class="fas fa-box"></i>
                        </div>
                        <h3>项目方案</h3>
                        <p>通过市场数据分析，制定合理的定价策略，以实现利润最大化。根据市场需求和竞品分析，制定差异化的产品策略，突出自身优势。根据目标市场特点和客户需求，制定全面的营销策略和推广计划，确保产品成功进入市场。</p>
                    </div>
                    <div class="sample-card">
                        <div class="sample-content-icon">
                            <i class="fas fa-box"></i>
                        </div>
                        <h3>产品出海</h3>
                        <p>通过市场数据分析，制定合理的定价策略，以实现利润最大化。确保产品符合目标市场的法律法规、安全标准等，避免侵权和违规风险。优化供应链，选择可靠的供应商，控制成本，保证产品质量和供货稳定。制定高效的物流方案，选择合适的物流服务商，降低物流成本，提升配送时效。</p>
                    </div>
                    <div class="sample-card">
                        <div class="sample-content-icon">
                            <i class="fas fa-trademark"></i>
                        </div>
                        <h3>品牌出海</h3>
                        <p>根据目标市场和产品特点，制定清晰的品牌定位和价值主张。通过专业的视觉设计、营销活动等手段，提升品牌在海外市场的知名度和美誉度。利用社交媒体、搜索引擎、电子邮件营销等方式进行品牌推广，提升品牌知名度和美誉度。注册商标，监控侵权行为，维护品牌权益。建立合作伙伴关系，以帮助扩展品牌的国际影响力，例如与本地分销商或电商平台合作。</p>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="ai-empowerment" class="services-ai hero">
            <h2>ALL IN AI  赋能</h2>
            <p>我们在 AI 领域拥有丰富的实践经验，目前本地 LLM 部署有：Qwen/Deepseek/Qwen/Llama 等模型
            <br>让运营使用工具没有门槛，让 AI 成为跨境电商的超级大脑，让跨境电商成为 AI 的最佳实践场景。</p>
            <div class="services-grid">
                <div class="service-card">
                    <div class="service-card-header" style="background: linear-gradient(to right, #3b82f6, #60a5fa);"></div>
                    <div class="service-card-content">
                        <h3>
                            <span class="service-icon" style="background: linear-gradient(to right, #3b82f6, #60a5fa);">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2" />
                                </svg>
                            </span>
                            项目管理
                        </h3>
                        <p>基于SharePoint项目，分类存储数据/标准化分析/科学决策。
                            结合Notion的TO-DO制定计划，提高效率。</p>
                        <a href="#" class="btn-color" style="color: #3b82f6; border: 1px solid #3b82f6;">了解详情</a>
                    </div>
                </div>
                <div class="service-card">
                    <div class="service-card-header" style="background: linear-gradient(to right, #ef4444, #f87171);"></div>
                    <div class="service-card-content">
                        <h3>
                            <span class="service-icon" style="background: linear-gradient(to right, #ef4444, #f87171);">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                </svg>
                            </span>
                            图片智能
                        </h3>
                        <p>MidJourney和StableDiffution部署，智能生成和优化图片，AI 生成多场景活动 Banner增加店铺吸引力</p>
                        <a href="#" class="btn-color" style="color: #ef4444; border: 1px solid #ef4444;">了解详情</a>
                    </div>
                </div>
                <div class="service-card">
                    <div class="service-card-header" style="background: linear-gradient(to right, #10b981, #34d399);"></div>
                    <div class="service-card-content">
                        <h3>
                            <span class="service-icon" style="background: linear-gradient(to right, #10b981, #34d399);">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2m0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                                </svg>
                            </span>
                            数据分析
                        </h3>
                        <p>运用Sorftime进行数据搜集，使用集成项目核算工具，分析店铺所有品类数据，提供全面店铺品类洞察。</p>
                        <a href="#" class="btn-color" style="color: #10b981; border: 1px solid #10b981;">了解详情</a>
                    </div>
                </div>
                <div class="service-card">
                    <div class="service-card-header" style="background: linear-gradient(to right, #8b5cf6, #a78bfa);"></div>
                    <div class="service-card-content">
                        <h3>
                            <span class="service-icon" style="background: linear-gradient(to right, #8b5cf6, #a78bfa);">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
                                </svg>
                            </span>
                            AI决策支持
                        </h3>
                        <p>运用chatGPT-4o进行深度数据分析，制定深度优化Action List，优化运营策略和项目决策执行，提升效率。</p>
                        <a href="#" class="btn-color" style="color: #8b5cf6; border: 1px solid #8b5cf6;">了解详情</a>
                    </div>
                </div>
                
            </div>
        </section>
    </main>

    <footer id="footer" class="hidden">
        <div class="footer-content">
            <div class="footer-column">
                <h3>服务体系</h3>
                <ul>
                    <li><a href="services.html#market-insight">市场洞察</a></li>
                    <li><a href="services.html#project-solutions">项目方案</a></li>
                    <li><a href="services.html#product-export">产品出海</a></li>
                    <li><a href="services.html#brand-export">品牌出海</a></li>
                    <li><a href="services.html#ai-empowerment">AI 赋能运营</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>项目方案</h3>
                <ul>
                    <li><a href="services.html#tool-products">工具产品</a></li>
                    <li><a href="services.html#mattress-products">床垫产品</a></li>
                    <li><a href="services.html#pet-supplies">宠物用品</a></li>
                    <li><a href="services.html#outdoor-products">户外产品</a></li>
                    <li><a href="services.html#children-toys">儿童玩具</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>关于我们</h3>
                <ul>
                    <li><a href="about.html#company-overview">公司概况</a></li>
                    <li><a href="about.html#company-culture">企业文化</a></li>
                    <li><a href="about.html#partners">合作伙伴</a></li>
                    <li><a href="about.html#future-outlook">展望未来</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3><a href="contact.html">联系方式</a></h3>
                <ul>
                    <li>彼励扶电子商务（苏州）有限公司</li>
                    <li>地址：中国(江苏)自由贸易试验区苏州片区建发微时光商业广场 356 室</li>
                    <li>联系电话：+86 18666468991</li>
                    <li>联系电话：+1 (909) 375-0156</li>
                    <li>邮箱：marketing@believeboy.com</li>
                </ul>
            </div>
            <div class="footer-column qr-code">
                <img src="{{ url_for('static', filename='images/qrcode.webp') }}" alt="二维码">
                <p>扫码联系我们</p>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>